html {
  background: url(/images/monochrome-wood-texture.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-fluid {
  width: 100%;
  text-align: center;
  padding: 35px;
  background: url(/images/tweed.png);
  margin-bottom: 150px;
}

.blog-snippet {
  margin: 15px auto;
  margin-bottom: 30px;
  border-style: solid;
  border-radius: 5px;
  color: #59484F;
  background-color: white;
  width: 800px;
  font-family: "Amatic SC", monospace;
  padding: 10px;
}

#blog-snippet-title {
  font-size: 50px;
  font-variant: small-caps;
}

#blog-snippet-teaser {
  font-size: 24px;
}

.center-table {
  margin: 0 auto !important;
  float: none !important;
  margin-top: 20px;
}

.header {
  color: #59484F;
  background-color: white;
  text-align: center;
  font-family: "Amatic SC", monospace;
  border-style: solid;
  margin-top: 100px;
}

.name {
  font-size: 72px;
}

.navmenu {
  color: #59484F;
  background-color: #D3D3D3;
  text-align: center;
  font-size: 32px;
  font-family: "Amatic SC", monospace;
  word-spacing: 30px;
  border-style: solid;
}

.post-title {
  font-size: 40px;
  margin: 15px auto;
  border-radius: 5px;
  color: #59484F;
  background-color: white;
  width: 300px;
  font-family: "Amatic SC", monospace;
  font-variant: small-caps;
  padding: 10px;
}

.blog-post {
  border-radius: 5px;
  width: 80%;
  display: inline-block;
  margin: 25px;
  color: #59484F;
  background-color: white;
  padding: 30px;
  font-family: "Buda";
  font-size: 22px;
  text-align: center;
}

.crud-blog-post {
  border-radius: 5px;
  width: 90%;
  display: inline-block;
  margin: 25px;
  color: #59484F;
  background-color: white;
  padding: 30px;
  font-family: "Buda";
  font-size: 22px;
  text-align: center;
}

#profile-pic {
  border-style: solid;
  border-radius: 5px;
  margin-left: 150px;
  float: left;
  width: 20%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#bio {
  border-radius: 5px;
  width: 60%;
  display: inline-block;
  margin: 5px;
  color: #59484F;
  background-color: white;
  padding: 30px;
  font-family: "Buda";
  font-size: 22px;
  text-align: center;
  float: center;
  margin-top: 35px;
}

.date {
  display: inline-block;
  margin-left: 50px;
  border-style: solid;
  color: #59484F;
  background-color: #D9D5C5;
  padding: 5px;
  font-family: fantasy;
}
