<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>
  <title>{{ site.title }}</title>
  <link href="/css/reset.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
  <div class="header">
    <h1 class="name">{{ site.title }}</h1>
  </div>
  <div class="navmenu">
      <a href="/">Home</a>
      <a href="/about.html">About</a>
      <a href="/artwork.html">Artwork</a>
      <a href="https://github.com/PenneyGadget">Github</a>
      <a href="http://dream-of-green.com/">Website</a>
      <a href="https://www.instagram.com/penneylicious/">Instagram</a>
  </div>
  <div class="container-fluid">
